#tagArea .tag {
    background-color: #313131;
    color: #ffffff;
    box-shadow: 0px 5px 10px #00000080;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
#tagArea .tag.selected {
    background-color: #4495d4;
}
#resultArea .result {
    padding: 10px;
}
#resultArea .result.satisfied {
    background-color: #cccccc80;
}
#resultArea .pattern.satisfied {
    background-color: #cccccc80;
}
#resultArea .tag {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#resultArea .tag.essential {
    background-color: pink;
}
#resultArea .tag.satisfied {
    border-color: red;
}
