html {
    font-family: sans-serif;
    font-size: 16px;
}
body {
    background-color: #ededef;
}
.button {
    background-color: #313131;
    color: #ffffff;
    box-shadow: 0px 2px 5px #00000080;
    margin: 5px;
    padding: 3px 10px;
    display: inline-block;
    text-decoration: none;
}
.button.selected {
    background-color: #4495d4;
}
.editbox {
    background-color: #00000000;
    box-shadow: 0 3px 10px #00000080 inset;
    border: solid 1px #00000040;
    padding: 7px 10px;
}
.shade {
    opacity: 0.5;
}
.shade .shade {
    opacity: 1.0;
}
.hide {
    display: none;
}
#unitList > section {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #00000080;
    margin: 10px 5px;
    padding: 0;
}
#unitList > section > header {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 0 8px;
}
#unitList > section > header .unit-note {
    color: #b85b49;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 0 5px;
}
#unitList .pattern > section {
    background-color: #313131;
    color: #989898;
    padding: 3px 0;
    display: inline-block;
}
#unitList .pattern > section > header {
    font-size: 12px;
    padding: 0 5px;
}
#unitList .tag {
    background-color: #555555;
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    padding: 1px 4px 0;
    margin: 0 5px;
    display: inline-block;
}
#unitList .tag.satisfied {
    background-color: #e5e6e1;
}
